<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="mb-2" hintLabel="Max 30 characters">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" maxLength="30" placeholder="Name" required>
        <mat-hint align="end">{{ form.controls.name.value.length }}/30</mat-hint>
        @if (form.controls.name.hasError("required")) {
            <mat-error>The name is required</mat-error>
        } @else if(form.controls.name.errors) {
            <mat-error>{{ form.controls.name.errors }}</mat-error>
        }
    </mat-form-field>
    <mat-form-field class="mb-2" hintLabel="Max 500 characters">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" maxLength="500" placeholder="Description" required>
        <mat-hint align="end">{{ form.controls.description.value.length }}/500</mat-hint>
        @if (form.controls.description.hasError("required")) {
            <mat-error>The description is required</mat-error>
        } @else if(form.controls.description.errors) {
            <mat-error>{{ form.controls.description.errors }}</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
            <mat-option value="danger">Danger</mat-option>
            <mat-option value="food bank">Food bank</mat-option>
            <mat-option value="medical services">Medical services</mat-option>
            <mat-option value="people">People</mat-option>
            <mat-option value="person">Person</mat-option>
            <mat-option value="pet shelter">Pet shelter</mat-option>
            <mat-option value="search">Search</mat-option>
            <mat-option value="shelter">Shelter</mat-option>
            <mat-option value="warning">Warning</mat-option>
            <mat-option value="water">Water</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="mb-2" hintLabel="The latitude needs to be between -90.0 and 90.0">
        <mat-label>Latitude</mat-label>
        <input matInput type="number" formControlName="latitude" min="-90.0" max="90.0" placeholder="Latitude" required>
        @if (form.controls.latitude.hasError("required")) {
            <mat-error>The latitude is required</mat-error>
        } @else if(form.controls.latitude.hasError("max") || form.controls.latitude.hasError("min")) {
            <mat-error>The latitude needs to be between -90.0 and 90.0</mat-error>
        } @else if(form.controls.latitude.errors) {
            <mat-error>{{ form.controls.latitude.errors }}</mat-error>
        }
    </mat-form-field>
    <mat-form-field class="mb-2" hintLabel="The longitude needs to be between -180.0 and 180.0">
        <mat-label>Longitude</mat-label>
        <input matInput type="number" formControlName="longitude" min="-180.0" max="180.0" placeholder="Longitude" required>
        @if (form.controls.longitude.hasError("required")) {
            <mat-error>The longitude is required</mat-error>
        } @else if(form.controls.longitude.hasError("max") || form.controls.longitude.hasError("min")) {
            <mat-error>The longitude needs to be between -180.0 and 180.0</mat-error>
        } @else if(form.controls.longitude.errors) {
            <mat-error>{{ form.controls.longitude.errors }}</mat-error>
        }
    </mat-form-field>
    <button mat-flat-button type="submit" [disabled]="!(form.valid)">Create</button>
</form>