<mat-sidenav-container class="example-container" hasBackdrop="true">
    <mat-sidenav #sidenav mode="side" position="start">
        <div class="d-flex flex-column">
            <a mat-button href="/map/view">Map
                <mat-icon>public</mat-icon>
            </a>
            @if (isUserLoggedIn) {
                <a mat-button href="/map">Create a map item
                    <mat-icon>location_on</mat-icon>
                </a>
            }
            <a mat-button href="/">Posts
                <mat-icon>local_post_office</mat-icon>
            </a>
            @if (isUserLoggedIn) {
                <a mat-button href="/post">Create a new post
                    <mat-icon>post_add</mat-icon>
                </a>
                <button mat-button (click)="logout()">Logout
                    <mat-icon>logout</mat-icon>
                </button>
            } @else {
                <a mat-button href="/login">Login
                    <mat-icon>login</mat-icon>
                </a>
                <a mat-button href="/register">Register
                    <mat-icon>person_add</mat-icon>
                </a>
            }
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <nav class="d-flex flex-row">
            <button mat-mini-fab (click)="sidenav.toggle()" aria-label="Open menu">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="flex-fill text-center">Relevare</h1>
        </nav>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>